.form {
    width: 255px;
    margin: 0 auto;
    height: 25px;
    display: flex;
}

@media (max-width: 768px) {
    .form {
        height: 28px;
    }    
}

.form input {
    height: 100%;
    width: 170px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 0 4px;
    border-radius: 3px 0 0 3px;
    outline: none;
}

.form button {
    font-size: 16px;
    line-height: 21px;
    box-sizing: border-box;
    height: 100%;
    width: 85px;
    border-radius: 0 3px 3px 0;
    border: none;
    background: rgb(13, 110, 253);
    color: #fff;
    cursor: pointer;
}